<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ntalk.choi.repository.SmsMapper">

    <insert id="insertSms" parameterType="com.ntalk.choi.domain.SmsDTO">
        INSERT INTO EM_TRAN (
            TRAN_PHONE, 
            TRAN_CALLBACK, 
            TRAN_STATUS, 
            TRAN_DATE, 
            TRAN_TYPE, 
            TRAN_MSG
        ) VALUES (
            #{tranPhone},
            #{tranCallback},
            #{tranStatus},
            CURRENT_TIMESTAMP,
            #{tranType},
            #{tranMsg}
        )
    </insert>

</mapper>
